<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,384},{36,48}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,482},{30,48}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,432},{32,48}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,471},{30,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{30,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,432},{36,46}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,476},{32,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{32,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,476},{32,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{32,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,464},{34,46}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,434},{34,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,423},{34,48}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>beetleship.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,384},{92,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,108}}</string>
                <key>sourceSize</key>
                <string>{92,108}</string>
            </dict>
            <key>buttonBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,478},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>buttonOrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,478},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>circleBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,384},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>circleSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,451},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>efx_blast.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,384},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>efx_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,384},{28,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>enemyBug.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,384},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
            <key>gemBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,434},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>gemGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,465},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>gemOrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,448},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>girl4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{126,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,143}}</string>
                <key>sourceSize</key>
                <string>{126,143}</string>
            </dict>
            <key>healthheart.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,384},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,448},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fb1e8fa7d8415bc1bf26cda61aeefee$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
